
.tarefa{
    text-align: center;
    display: flex;
    margin: 0px auto 20px auto;
    width: 35%;
    height: auto;
}

.tarefa_titulo{
    font-size: 18px;
    text-align: left;
    width: 80%;
    margin: 0 20% 5px 0;
    color: black;
    overflow: hidden;
}


@media(max-width:768px){
    .tarefa {
        display: block;
        margin: 0 auto 10px auto;
        width: 80%;
        text-align: center;
        height: auto;
       
        
    }
    .tarefa_titulo{
        text-align: center;
        width: 100%;
        padding: 2px;
 
    }

}
