
.form-tarefa{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
   
}
.form-tarefa_input{
    width: 30%;
    padding: 8px;
    margin: 10px 8px;
}

.form-tarefa_button{
    color: white;
    background-color:#6558f5;
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin: 10px 8px;;
}

@media(max-width: 768px){
    .form-tarefa{
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
    .form-tarefa_input{
        width: 70%;
    }
    .form-tarefa_button{
        width: 60%;
    }
}
