div{
    text-align: center;
}


/* .lista-tarefa{
    display: block;
    text-decoration: line-through;
} */


.limpar-itens{
    text-align: center;
}

.limpar-itens_button{
    color: #6558f5;
    background-color: white;
    border-radius: 3px;
    border-color:#6558f5 ;
    border-width: 1px;
    padding: 5px;
    width: 10%;
    cursor: pointer;
}
.tarefa h1{
    font-size: 18px;
    text-align: left;
    width: 80%;
    margin: 0 20% 5px 0;
    overflow: hidden;
    
}

.tarefa CheckCircleOutlineIcon{
    color: gray;
}
@media (max-width:768px){
    .limpar-itens{
        width: 100%;
    }
    .limpar-itens_button{
        width: 75%;
    }
}
